"*":
  "autocomplete-plus":
    fileBlacklist: [
      "*.txt"
      "*.md"
      ""
    ]
  core:
    audioBeep: false
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "ed75f0ea-3104-4467-92e4-84005b2abd1a"
  welcome:
    showOnStartup: false
